@font-face {
    font-family: Montserrat;
    src: url('../../assets/Montserrat-Regular.ttf');
}

.front-page-wrapper {
    .developer-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        .image-wrapper {
            .image {
                height: 160px;
                width: 160px;
                border-radius: 100%;
                border: 4px solid white;
            }
        }
        .labels {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            color: white;
            .intro-label {
                font-family: Raleway;
                font-size: 20px;
            }
            .developer-name-label {
                font-family: Raleway;
                padding: 10px;
                color: #E31B6D;
                letter-spacing: 10px;
                font-size: 25px;
            }
            .developer-profile-label {
                letter-spacing: 4px;
                font-weight: bold;
            }
        }
    }

}

@media screen and (max-width: 600px) {
    .front-page-wrapper {
        .developer-details {
            
            .labels {
                
                .developer-name-label {
                    
                    font-size: 22px;
                }
               
            }
        }
    
    }
    
}
canvas {
    position: absolute;
}